<div style="background-color: lavender;height: 100vh; margin-top: 15px;">
<p>users works!</p>
  <!-- <dx-button
  text="Click me"
  (onClick)="helloWorld()">
</dx-button>
  -->
<div style="width:80%; margin:auto;">
  <label for="">ID</label>
  <input type="text" id="id" value="0">
  <label for="">Name</label>
  <input type="text" id="name" value=""/>
  <label for="">DOB</label>
  <input type="text" id="dob" value="">
  <button>Submit</button>
</div>
  
  <div style="width:80%; margin:auto;">
    <dx-data-grid  
    [dataSource]="sqldata"
    [columns]="['id', 'name', 'dob']"
    [showBorders]="true">
</dx-data-grid>
  </div>
</div>


