<h1>Test Project</h1>
<div style="width:100%; margin:auto;">
<ul  class="dropdown">
    <li><a href="#">Menu</a>
        <ul>
            <li><a href="">Nice Dropdown Menu</a></li>
            <li><a href="">Submenu - 1</a></li>
            <li><a href="#">Dropdown</a>
                <ul>
                    <li><a href="">Submenu - 1</a></li>
                    <li><a href="">Submenu - 2</a></li>
                    <li><a href="#">Main menu</a>
                        <ul>
                            <li><a href="">Submenu - 1</a></li>
                            <li><a routerLink="user">Users</a></li>
                            <li><a routerLink="master">Master</a></li>
                        </ul>
                    </li>
                    <li><a href="">Submenu - 3</a></li>
                </ul>
            </li>
            <li><a href="">Submenu - 2</a></li>
        </ul>
    </li>
</ul>
<ul class="dropdown">
    <li><a href="#">Payout</a>
        <ul>
            <li><a href="">Nice Dropdown Menu</a></li>
            <li><a href="">Submenu - 1</a></li>
            <li><a href="#">Dropdown</a>
                <ul>
                    <li><a href="">Submenu - 1</a></li>
                    <li><a href="">Submenu - 2</a></li>
                    <li><a href="#">Dropdown</a>
                        <ul>
                            <li><a href="">Submenu - 1</a></li>
                            <li><a href="">Submenu - 2</a></li>
                            <li><a href="">Submenu - 3</a></li>
                        </ul>
                    </li>
                    <li><a href="">Submenu - 3</a></li>
                </ul>
            </li>
            <li><a href="">Submenu - 2</a></li>
        </ul>
    </li>
</ul>
<ul class="dropdown">
    <li><a href="#">Login</a></li>
    </ul>
    <ul class="dropdown">
        <li><a href="#">Organization</a></li>
        </ul>
        <ul class="dropdown">
            <li><a href="#">Live data</a></li>
            </ul>
            <ul class="dropdown">
                <li><a href="#">Url</a></li>
                </ul>
                <ul class="dropdown">
                    <li><a href="#">Configuration</a></li>
                    </ul>
                    <ul class="dropdown">
                        <li><a href="#">Master</a></li>
                        </ul>
                        <ul class="dropdown">
                            <li><a href="#">users</a></li>
                            </ul>
                            <ul class="dropdown">
                                <li><a href="#">Information</a></li>
                                </ul>
                                <ul class="dropdown">
                                    <li><a href="#">Scheme</a></li>
                                    </ul>
                                    <ul class="dropdown">
                                        <li><a href="#">Pages</a></li>
                                        </ul>
                                        <ul class="dropdown">
                                            <li><a href="#">Log Detail</a></li>
                                            </ul>
                                        </div>
                                            
                                            

<br>
<br>

  <router-outlet></router-outlet>


<!-- 
<div class="content" role="main">
  <dx-button
  text="Click me"
  (onClick)="helloWorld()">
</dx-button>
 
<dx-data-grid
    id="gridContainer"
    [dataSource]="customers"
    [columns]="['CompanyName', 'City', 'State', 'Phone', 'Fax']"
    [showBorders]="true">
</dx-data-grid>
</div> -->



